{% extends 'base.html' %}
{% load static %}

{% block extend_title %}Profile |{% endblock %}

{% block content %}
<div class="col-6 mx-auto pt-5">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="border rounded p-4">
        <h3 class="mb-5 text-center">Profile</h3>
        <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <div id="profile-container">
                    <image id="profileImage" src="{{ user.get_avatar_url }}" />
                </div>
                <input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" required="" capture>
            </div>

            <div class="form-group">
                <input type="text" name="username" autofocus="false" placeholder="Email" value="{{ user.email }}" class="form-control"
                    required="" id="id_username">
            </div>
            <div class="form-group">
                <input type="text" name="first_name" autofocus="false" placeholder="First name" value="{{ user.first_name }}" class="form-control"
                    required="" id="id_first_name">
            </div>
            <div class="form-group">
                <input type="text" name="last_name" autofocus="false" placeholder="Last name" value="{{ user.last_name }}" class="form-control"
                    required="" id="id_last_name">
            </div>

            <button type="submit" class="btn btn-lg btn-primary btn-round btn-block btn-loading shadow-sm mt-4">Update</button>
        </form>
    </div>
</div>
{% endblock %}